section 
	h2 About the Party!
	p
		| For those who have not attended before, #FrontEndParty is the first NOLA front-end developer / designer meetup group.
		| On the last Thursday of each month, we host three presentations (between 5 to 15 minutes each) on the front-end
		| world from developers and designers around New Orleans.