section 
	h2 Welcome to the Party!
	p This is a demo of some more advanced features available with AngularJS.
	p
		| Created by&nbsp;
		a(href='https://twitter.com/robschley', title='Rob Schley on Twitter') Rob Schley
		| . If you tweet at me. I probably won't notice. Sorry.
	p What I'm going to cover:
	ul
		li Seamless Authentication
		li Application Routing/State
